@import url("https://rsms.me/inter/inter.css");

html {
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
}

body {
    margin: 0;
    user-select: none;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.title {
}

.play {
}

.play button {
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 3px;
    width: 120px;
    height: 50px;
    font-size: 1.2em;
    font-weight: 500;
}

.graphic {
}

.footer {
    line-height: 2em;
    font-weight: 500;
}

:root {
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: 5em;
    font-weight: 800;
    line-height: .9em;
}

h2 {
    font-size: 1.8em;
    font-weight: 500;
}

h3 {
    font-size: 1.1em;
    font-weight: 500;
}

img {
    width: 300px;
    padding-right: 20px;
}

button {
    color: black;
    background-color: transparent;
    border: none;
    font-size: 1em;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

button:hover {
    cursor: pointer;
    text-decoration: underline;
}

a {
    font-size: 1em;
    font-weight: 500;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

@media only screen and (max-height: 850px) {
    .footer button, .footer a:last-of-type {
        display: none;
    }
    .footer {
    bottom: 5px;
    }
}