@import url("https://rsms.me/inter/inter.css");

html {
    overflow-y: hidden;
}
body
{
    margin: 0;
    padding: 40px;
    user-select: none;
    scroll-behavior: smooth;
}

*,*:before,*:after { -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; }

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 10vh 70vh 20vh;
    grid-gap: 2rem;
    grid-template-areas: 
        "headerLeft headerLeft headerRight headerRight"
        "sectionOne sectionTwo sectionThree sectionFour"
        "footerLeft footerMiddle footerMiddle footerRight";
}
.headerLeft {
    grid-area: headerLeft;
}
.headerRight {
    grid-area: headerRight;
}
.sectionOne {
    grid-area: sectionOne;
}
.sectionTwo {
    grid-area: sectionTwo;
}
.sectionThree {
    grid-area: sectionThree;
}
.sectionFour {
    grid-area: sectionFour;
}
.footerLeft {
    grid-area: footerLeft;
}
.footerMiddle {
    grid-area: footerMiddle;
}
.footerRight {
    grid-area: footerRight;
}

.section.droppable
{
    border: 1px dashed #666;
}
.card
{
    display: block;
    box-sizing: border-box;
    width: auto;
    height: auto;
    margin-bottom: 15px;
    padding: 6%;
    cursor: grab;
    vertical-align: top;
    color: black;
    border: 1px solid black;
    background: #fff;
    border-radius: 2px;
}

:root {
    font-family: 'Inter', sans-serif;
}

h1
{
    margin: 0;
    padding: 0;
}

h2
{
    font-weight: 600;
}

.section h2
{
    font-size: 1.2em;
    margin-bottom: 20px;
    padding: 0;
    text-transform: uppercase;
}

h3 {
    margin: 0;
    padding: 0;
}

#messageHeader h3 {
    font-size: 1.2em;
    font-weight: 600;
    padding-bottom: 20px;
}

.sourcePrice
{
    float: right;
}

.right {
    float: right;
}

#sound {
    font-size: 1.2em;
    font-weight: 500;
    text-align: right;
}

#stats {
    font-size: 1.3em;
    font-weight: 500;
}

#messageWrapper {
    border-radius: 2px;
}

#warning-message
{
    display: none;
}
@media only screen and (max-width:767px) and (orientation:portrait)
{
    #wrapper
    {
        display: none;
    }
    #warning-message
    {
        display: block;
    }
}
@media only screen and (orientation:landscape)
{
    #warning-message
    {
        display: none;
    }
}
