@import url("https://rsms.me/inter/inter.css");

html {
    overflow-y: hidden;
}
body
{
    margin: 0;
    user-select: none;
    scroll-behavior: smooth;
}

*,*:before,*:after { -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; }

.container {
    display: grid;
    grid-template-columns: 22vw 22vw 22vw 22vw;
    grid-template-rows: 8vh 68vh 18vh;
    grid-column-gap: 2vw;
    grid-row-gap: 0;
    padding: 3vh 3vw 3vh 3vw;
    grid-template-areas: 
        "headerLeft headerLeft headerRight headerRight"
        "sectionOne sectionTwo sectionThree sectionFour"
        "footerLeft footerMiddle footerMiddle footerRight";
}
.headerLeft {
    grid-area: headerLeft;
}
.headerRight {
    grid-area: headerRight;
}
.sectionOne {
    grid-area: sectionOne;
}
.sectionTwo {
    grid-area: sectionTwo;
}
.sectionThree {
    grid-area: sectionThree;
}
.sectionFour {
    grid-area: sectionFour;
}
.footerLeft {
    grid-area: footerLeft;
    align-self: flex-end;
}
.footerMiddle {
    grid-area: footerMiddle;
    align-self: flex-end;
}
.footerRight {
    grid-area: footerRight;
    align-self: flex-end;
}

.card
{
    display: block;
    box-sizing: border-box;
    width: auto;
    height: auto;
    margin-bottom: 15px;
    padding: 6% 5% 6% 5%;
    cursor: grab;
    vertical-align: top;
    color: black;
    border: 1.5px solid black;
    background: #fff;
    border-radius: 2px;
}

.card span {
    font-size: 1.1rem;
}

:root {
    font-family: 'Inter', sans-serif;
}

h1
{
    font-size: 1.5em;
    font-weight: 700;
}

h2
{
    font-size: 1.2em;
    font-weight: 600;
}

h3 {
    font-size: 1.1em;
    font-weight: 500;
}

#levelPeep {
    display: inline;
    position: relative;
    vertical-align: middle;
    padding-right: 50px;
    margin-top: 5px;
}

#headerRight h2 {
}

.section h2

{
    margin-bottom: 20px;
    text-transform: uppercase;
}

.sourcePrice
{
    float: right;
}

.right {
    float: right;
}

#sound {
    font-size: 1.3em;
    font-weight: 500;
    text-align: right;
}

#stats {
    font-size: 1.3em;
    font-weight: 500;
}

#messageWrapper {
    height: 190px;
    border: solid 1.5px black;
    border-radius: 2px;
    background-color: white;
}

#messageHeader {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 28px;
    border-bottom: solid 1.5px black;
}

#messagePeep {
    display: inline;
    position: relative;
    vertical-align: middle;
}

#messageHead {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#messageFace {
    position: absolute;
    top: 16px;
    left: 13px;
    right: 0;
}

#messageHeaderText h3 {
    display: inline;
}

#messageName {
    padding-left: 50px;
}

#messageSubject {
    padding-left: 10px;
}

#messageContent {
    padding: 20px 30px 20px 30px;
}

#warning-message
{
    display: none;
}

@media only screen and (max-width:1100px) and (orientation:portrait)
{
    .container
    {
        display: none;
    }
    #warning-message
    {
        display: block;
    }
}
@media only screen and (orientation:landscape)
{
    #warning-message
    {
        display: none;
    }
}
